body {
  color: #e53935;
  /* background-color: #263238; */
  background-color: #42a5f5;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 10fr;
}
