body {
  color: #e53935;
  background-color: #263238;
}
.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 10fr;
}
.header {
  grid-area: h;
  background-color: cornflowerblue;
}
.header img {
  width: 70px;
}
.nav {
  grid-area: n;
  background-color: #01579b;
}

.content {
  grid-area: c;
  background-color: #e1bee7;
}
